<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta name="description" content="Example Implementations" />
    <meta name="author" content="Example Implementations" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
   
    {% block header %}
    <link rel="stylesheet" href="./assets/css/style.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/prismjs@1.23.0/themes/prism-coy.css" />
    {% endblock %}

</head>

<body>
    <div class="relative bg-white overflow-hidden">

        {% include "./navbar.njk" %}

        <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-8 sm:px-6 md:mt-16 lg:mt-10 lg:px-8">
            {% block content %}
            
            {% endblock %}
        </main>
    </div>

    {% include "./footer.njk" %}

    {% block footer %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/prism.min.js"></script>
    <script type="text/javascript" src="./assets/js/main.min.js"></script>
    {% endblock %}
    {% block footerscript %}
    {% endblock %}
</body>

</html>