<div class="">
    <div class="mx-auto px-4 sm:px-6">
        <div class="flex justify-between items-center border-b border-gray-100 dark:border-gray-500 py-6 md:justify-start md:space-x-10">
            <div class="flex justify-start lg:w-0 lg:flex-1">
                <a href="index.html">
                    <span class="sr-only">JavaScript</span> 
                    <img class="h-10 w-auto sm:h-10" src="./assets/img/logo.png" alt="logo" />
                </a>
            </div>
            <div class="-mr-2 -my-2 md:hidden">
                <button type="button" class="nav-btn" aria-expanded="false" id="open-menu">
                    <span class="sr-only">Open menu</span>
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>
            <nav class="hidden md:flex space-x-10">
                <div class="relative">
                    <button type="button" class="nav-btn" aria-expanded="false" id="solution-popup">
                        <span>JavaScript</span>
                        <svg class="nav-has-dropdown" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                        </svg>
                    </button>
                    <div class="absolute z-10 mt-3 transform px-2 w-max max-w-sm sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2" style="display: none;" id="solution-popup-html">
                        <div class="nav-dropdown">
                            <div class="nav-dropdown-con">
                                <a href="closures.html" class="nav-dropdown-link">Closures </a>
                                <a href="#" class="nav-dropdown-link"> Promises</a>
                                <a href="#" class="nav-dropdown-link"> Arrow Functions</a>
                                <a href="#" class="nav-dropdown-link"> Object Destructuring</a>
                                <a href="#" class="nav-dropdown-link"> Prototypes</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="nav-btn">NodeJS</a> 
                <a href="#" class="nav-btn">ReactJS</a>
                <a href="#" class="nav-btn">ExpressJS</a>
                <a href="#" class="nav-btn">Algorithm/ Data Structure</a>
                <div class="relative">
                    <button type="button" class="nav-btn" aria-expanded="false" id="more-popup">
                        <span>Databases</span>
                        <svg class="nav-has-dropdown" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                        </svg>
                    </button>
                    <div class="absolute z-10 left-1/2 transform -translate-x-1/2 mt-3 px-2 md-screen max-w-md sm:px-0" style="display: none;" id="more-popup-html">
                        <div class="nav-dropdown">
                            <div class="nav-dropdown-con">
                                <a href="mysql.html" class="nav-dropdown-link">
                                    <div class="ml-4">
                                        <p class="nav-dropdown-topic">MySQL</p>
                                    </div>
                                </a>
                                <a href="mongodb.html" class="nav-dropdown-link">
                                    <div class="ml-4">
                                        <p class="nav-dropdown-topic">MongoDB</p>
                                    </div>
                                </a>
                                <a href="redis.html" class="nav-dropdown-link">
                                    <div class="ml-4">
                                        <p class="nav-dropdown-topic">Redis</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <button class="p-2 rounded focus:outline-none" @click="dark = !dark" aria-label="Toggle theme">
                <svg width="30" height="30" fill="none" x-show="!dark" aria-label="Apply dark theme" role="image">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16 2a1.4 1.4 0 011.4 1.4v1.4a1.4 1.4 0 11-2.8 0V3.4A1.4 1.4 0 0116 2zM6.1 6.1a1.4 1.4 0 011.98 0l.99.99a1.4 1.4 0 11-1.98 1.98l-.99-.99a1.4 1.4 0 010-1.98zm19.8 0a1.4 1.4 0 010 1.98l-.99.99a1.4 1.4 0 01-1.98-1.98l.99-.99a1.4 1.4 0 011.98 0zM9 16a7 7 0 1114 0 7 7 0 01-14 0zm-7 0a1.4 1.4 0 011.4-1.4h1.4a1.4 1.4 0 110 2.8H3.4A1.4 1.4 0 012 16zm23.8 0a1.4 1.4 0 011.4-1.4h1.4a1.4 1.4 0 110 2.8h-1.4a1.4 1.4 0 01-1.4-1.4zm-2.87 6.93a1.4 1.4 0 011.98 0l.99.99a1.4 1.4 0 01-1.98 1.98l-.99-.99a1.4 1.4 0 010-1.98zm-15.84 0a1.4 1.4 0 011.98 1.98l-.99.99a1.4 1.4 0 01-1.98-1.98l.99-.99zM16 25.8a1.4 1.4 0 011.4 1.4v1.4a1.4 1.4 0 11-2.8 0v-1.4a1.4 1.4 0 011.4-1.4z" fill="url(#paint0_linear)"></path>
                    <defs>
                        <linearGradient id="paint0_linear" x1="2" y1="2" x2="30" y2="30" gradientUnits="userSpaceOnUse">
                            <stop class="transition-all duration-200" stop-color="#FACC15"></stop>
                            <stop class="transition-all duration-200" offset="1" stop-color="#FA9D16"></stop>
                        </linearGradient>
                    </defs>
                </svg>
                <svg width="30" height="30" x-show="dark" aria-label="Apply light theme" role="image" fill="currentColor" class="transition-colors duration-200 text-gray-300">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.353 2.939a1 1 0 01.22 1.08 8 8 0 0010.408 10.408 1 1 0 011.301 1.3A10.003 10.003 0 0112 22C6.477 22 2 17.523 2 12c0-4.207 2.598-7.805 6.273-9.282a1 1 0 011.08.22z"></path>
                </svg>
            </button>

            <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
                <a href="#" class="btn-primary">Log In</a>
            </div>
        </div>
    </div>

    <div class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden">
        <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50" style="display: none;" id="close-menu-html">
            <div class="pt-5 pb-6 px-5">
                <div class="flex items-center justify-between">
                    <div><img class="h-8 w-auto" src="./assets/img/logo.png" alt="logo" /></div>
                    <div class="-mr-2">
                        <button type="button" class="nav-btn" id="close-menu">
                            <span class="sr-only">Close menu</span>
                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="mt-6">
                    <nav class="grid gap-y-8">
                        <a href="#" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
                            <span class="ml-3 nav-dropdown-topic">NodeJS</span>
                        </a>
                        <a href="#" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
                            <span class="ml-3 nav-dropdown-topic">ExpressJS</span>
                        </a>
                        <a href="#" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
                            <span class="ml-3 nav-dropdown-topic">ReactJS</span>
                        </a>
                        <a href="#" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
                            <span class="ml-3 nav-dropdown-topic">Algorithm / Data Structure</span>
                        </a>
                        <a href="#" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
                            <span class="ml-3 nav-dropdown-topic">Databases</span>
                        </a>
                    </nav>
                </div>
            </div>
            <div class="py-6 px-5 space-y-6">
                <div class="grid grid-cols-2 gap-y-4 gap-x-8">
                    <a href="closures.html" class="nav-dropdown-text">Closures</a> 
                    <a href="#" class="nav-dropdown-text">Promises</a>
                    <a href="#" class="nav-dropdown-text">Arrow Functions</a> 
                    <a href="#" class="nav-dropdown-text">Object Destructuring</a>
                    <a href="#" class="nav-dropdown-text">Prototypes</a>
                </div>
            </div>
        </div>
    </div>
</div>
