{% set title = 'Index' %}
{% extends "../layout.njk" %}

{% block content %}
<div class="sm:text-center lg:text-left">
    <h1 class="text-4xl tracking-tight font-extrabold dark:text-gray-200  text-gray-900 sm:text-5xl md:text-4xl">
        <span class="block xl:inline">Topics to enhance</span>
        <span class="block text-primary text-opacity-95 dark:text-opacity-100 xl:inline">your knowledge & skills</span>
    </h1>
    <p class="mt-3 text-base dark:text-gray-300 text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
        Be a better Software Engineer by enhancing your knowledge and skills. Practice Algorithms & learn new concepts used in the tech world.
    </p>
    <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
        <div class="rounded-md shadow">
            <a href="https://github.com/RNKushwaha/interview-preparation" class="w-full btn-secondary md:py-4 md:text-lg md:px-10">
               <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewbox="0 0 24 24" stroke="currentColor" class="flex-shrink-0 h-6 w-6">
               <path d="M10.9,2.1c-4.6,0.5-8.3,4.2-8.8,8.7c-0.5,4.7,2.2,8.9,6.3,10.5C8.7,21.4,9,21.2,9,20.8v-1.6c0,0-0.4,0.1-0.9,0.1 c-1.4,0-2-1.2-2.1-1.9c-0.1-0.4-0.3-0.7-0.6-1C5.1,16.3,5,16.3,5,16.2C5,16,5.3,16,5.4,16c0.6,0,1.1,0.7,1.3,1c0.5,0.8,1.1,1,1.4,1 c0.4,0,0.7-0.1,0.9-0.2c0.1-0.7,0.4-1.4,1-1.8c-2.3-0.5-4-1.8-4-4c0-1.1,0.5-2.2,1.2-3C7.1,8.8,7,8.3,7,7.6C7,7.2,7,6.6,7.3,6 c0,0,1.4,0,2.8,1.3C10.6,7.1,11.3,7,12,7s1.4,0.1,2,0.3C15.3,6,16.8,6,16.8,6C17,6.6,17,7.2,17,7.6c0,0.8-0.1,1.2-0.2,1.4 c0.7,0.8,1.2,1.8,1.2,3c0,2.2-1.7,3.5-4,4c0.6,0.5,1,1.4,1,2.3v2.6c0,0.3,0.3,0.6,0.7,0.5c3.7-1.5,6.3-5.1,6.3-9.3 C22,6.1,16.9,1.4,10.9,2.1z"></path></svg>
                &nbsp; Github
            </a>
        </div>
        <div class="mt-3 sm:mt-0 sm:ml-3">
            <a href="#demos" class="w-full btn-default md:py-4 md:text-lg md:px-10">
                Live demo
            </a>
        </div>
    </div>
</div>

<br />
<br />
<div class="flex flex-col" id="demos">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-hidden border-b border-gray-300 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-300">
                    <thead class="dark:bg-gray-700 bg-gray-100">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium dark:text-gray-200 text-gray-500 uppercase tracking-wider">
                                Topic
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium dark:text-gray-200 text-gray-500 uppercase tracking-wider">
                                Author
                            </th>
                            <th scope="col" class="relative px-6 py-3">
                                <span class="sr-only">Demo</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="dark:bg-gray-600 bg-white divide-y divide-gray-300">
                        <tr>
                            <td class="px-6 py-2 whitespace-nowrap text-sm text-default">
                                Closures
                            </td>
                            <td class="px-6 py-2 whitespace-nowrap">
                                <div class="flex items-center">
                                    <div class="flex-shrink-0 h-10 w-10">
                                        <img class="h-10 w-10 rounded-full" src="./assets/img/RN_Kushwaha.jpg" alt="RN Kushwaha">
                                    </div>
                                    <div class="ml-4">
                                        <div class="text-sm font-medium dark:text-gray-200 text-gray-900">
                                            RN Kushwaha
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="px-6 py-2 whitespace-nowrap text-right text-sm font-medium">
                                <a href="./closures.html" class="link-main">Demo</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-default">
                                Promises
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <div class="flex items-center">
                                    <div class="flex-shrink-0 h-10 w-10">
                                        <img class="h-10 w-10 rounded-full" src="./assets/img/RN_Kushwaha.jpg" alt="RN Kushwaha">
                                    </div>
                                    <div class="ml-4">
                                        <div class="text-sm font-medium dark:text-gray-200 text-gray-900">
                                            RN Kushwaha
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                <a href="./promises.html" class="link-main">Demo</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}